<div class="col-sm-12 col-md-3 col-lg-4">
  <% trainings.each do |training| %>
    <table class="records_table">
      <tbody>
        <tr>
          <th>日付</th>
            <td><%= training.created_at.to_s(:datetime_jp) %></td>
        </tr>
        <tr>
          <th>ジム</th>
            <td><%= training.gym.name %></td>
        </tr>
        <% unless training.partner == '' %>
        <tr>
          <th>partner</th>
            <td><%= training.partner %></td>
        </tr>
        <% end %>
        <tr>
          <th>部位</th>
            <td><%= training.part1%> <%= training.part2%> <%= training.part3%></td>
        </tr>
        <% if current_user == training.user %>
        <tr>
          <th>option</th>
            <td>
                <%= link_to "削除", training, method: :delete, data: { confirm: "You sure?" }%>
                <%= link_to "編集", edit_training_path(training)%>
            </td>
        </tr>
         <% end %>
      </tbody>
    </table>
  <% end %>
  <%= paginate trainings %>
</div>