<article class="user_card">
      <div class="user_card_header">
        <figure class="user_card_thumbnail">
          <img class="user_card_image">
            <% if @user.img? %>
              <%= image_tag @user.img.thumb50.url %>
            <% else %>
              <%= image_tag "default.jpg", :size => '100x100' %>
            <% end %>
          </img>
        </figure>
      </div>
      <div class="user_card_body">
        <h3 class="user_card_title"><%= @user.name %></h3>
        <p class="user_card_text"><%= @user.status %></p>
      </div>
    </article>

      <%= render 'gyms/gyms', gyms: @gyms %>


