<ul class="list-unstyled">
  <% gyms.each do |gym| %>
    <div class="card">
        <div>
          <% if gym.img? %>
            <%= image_tag gym.img.thumb.url %>
          <% else %>
            <%= image_tag "default_gym.jpg", :size => '200x200' %>
          <% end %>
        </div>
        <div>
        <%= link_to gym.name, gym_path(gym) %>
        </div>
        <div>
        <%= gym.address %>
        </div>
        
    <%= link_to 'edit', edit_gym_path(gym), class: 'btn btn-lg btn-primary'%>
    <%= render 'gym_users/join_button', gym: gym %>
    </div>
  <% end %>
  <%= paginate gyms %>
</ul>