<article class="gym_card">
<a class="gym_link" href="<%= gym_path(gym) %>" >   
  <div class="gym_card_header">
    <figure class="gym_card_thumbnail">
      <img class="gym_card_image">
        <% if gym.img? %>
          <%= image_tag gym.img.thumb.url %>
        <% else %>
          <%= image_tag "default_gym.jpg", :size => '200x200' %>
        <% end %>
      </img>
    </figure>
  </div>
  <div class="gym_card_body">
    <h3 class="gym_card_title"><%= gym.name %></h3>
    <p class="gym_card_text"><%=safe_join(gym.address.split("\n"),tag(:br))%></p>
  </div>
  <div class="gym_card_footer">
    <p class="gym_card_text">
      <a class="gym_card_text -number" href="<%= member_path(gym) %>">メンバー<%= gym.users.count%>人</a>
  </div>
</a>
</article>
