      <article class="user_card">
      <div class="user_card_header">
        <figure class="user_card_thumbnail">
          <img class="user_card_image">
            <% if user.img? %>
              <%= image_tag user.img.thumb50.url, class: 'user_icon' %>
            <% else %>
              <%= image_tag "default.jpg", :size => '50x50', class: 'user_icon' %>
            <% end %>
          </img>
        </figure>
        <p class="user_card_purpose badge"><%= user.purpose %></p>
      </div>
      <div class="user_card_body">
        <h3><a class="user_card_title" href="<%= user_path(user) %>"><%= user.name %></a></h3>
        <p class="user_card_text"><%=safe_join(user.status.to_s.split("\n"),tag(:br))%></p>
      </div>
    </article>
    