        <div class = search_wap>
        <%= form_tag(gyms_path, :method => 'get' ) do %>
        <%= text_field_tag :search, '', class: 'input',placeholder: "ジム検索"%>
            <button type= 'submit' class='search__button icon_wap'>
                <i class = "fas fa-search"></i>
            </button>
        <% end %>
        </div> 
<ul class = "gym_card_wrap">
  <% @gyms.each do |gym| %>
  <article class="gym_card">
      <%= render 'gyms/gyms', gym: gym %>
    <div class="gym_card_footer">
      <p class="gym_card_text">
        <a href="<%= gym_path(gym) %>" >ジムの詳細を見る</a></p>
    </div>
  </article>
  <% end %>
  <%= paginate @gyms %>
</ul>  