<div class="row">
  <div class="col-sm-offset-2 col-sm-4">
    <ul class = "gym_card_wrap">
      <article class="gym_card">
      <%= render 'gyms/gyms', gym: @gym %>
        <div class="gym_card_footer">
          <p><%= link_to "編集", edit_gym_path(@gym) %>
          <%= render 'gym_users/join_button', gym: @gym %></p>
        </div>
      </article>
    </ul>
  </div>
  <div class="col-sm-4">
  <% if current_user.joinings?(@gym)%>
    <%= render 'posts/post_form', {post: @post, gym: @gym} %>
  <% end %>
  </div>
</div>
<%= render 'posts/posts', posts: @posts %>


