<div class="post_area">
  <div class="post_title">
    <p>トレーニングの感想やジムレビューをシェア</p>
  </div>
      <%= form_with(model: post, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <%= f.hidden_field :gym_id, :value => gym.id %> 
     
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 3 %>
        </div>
        <div class="img_btn_form">
          <div class="form-group">
           <%= f.label :画像 %><br />
           <%= f.file_field :img, class: "image" %>
          </div> 
          <%= f.submit 'Post', class: 'btn btn-primary btn-sm btn_post' %>
        </div>
      <% end %>
</div>